.hero {
    height: 100vh;
    background: url("../images/hero-bg.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #28a745;
    position: relative;
}

.hero-content {
    z-index: 2;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* overlay for readability */
    z-index: 1;
}